* {
  margin: 0px;
  padding: 0px;
}
.logo {
  margin-left: 40px;
  width: 110px;
  height: 100px;
  display: block;
}
.nav_background {
  background-color: black;
}
.nav_brands {
  display: inline-block;
}
.nav_background ul {
  float: right;
}
.nav_background ul li {
  margin-right: 40px;
  padding-top: 20px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
}
.brand_name {
  color: white;
  margin-left: 50px;
  font-family: great;
}
.nav_background ul li:hover {
  color: yellow;
  transform: translate(2px, -2px);
  transition: 0.3s;
}
.background {
  background-image: url(../Images/beer.jpg);
  height: 650px;
}

footer.footer {
  position: relative;
  top: 800px;
  background-color: black;
  color: white;
  height: 90px;
}
footer.footer a {
  float: right;
  margin-top: 26px;
  margin-right: 30px;
  color: gold;
}
footer.footer p {
  margin-top: 35px;
  display: inline-block;
  margin-left: 30px;
}
.just-head {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.vertical-line {
  border-right: 1px solid black;
  width: 3px;
  height: 1000px;
  position: relative;
  left: 80px;
  display: inline-block;
}
.viewer-review {
  float: left;
}
.viewer-review-info {
  position: relative;
  float: left;
  left: 20px;
}
.for-star {
  margin-top: 10px;
  color: #ffa41c;
}
.for-product-star {
  color: #ffa41c;
  margin-left: 50px;
  display: inline-block;
}
dl dd {
  text-indent: 20px;
  line-height: 20px;
}
dl dt {
  line-height: 20px;
}
.customer-reviews {
  margin-top: 10px;
}
.just-head p {
  margin-left: 30px;
  margin-top: 20px;
}
#backgroundproduct {
  position: absolute;

  width: 80%;
  left: 20%;
  margin-top: 40px;
}
/* for column grid */
.role-1,
.role-2,
.role-3 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/* for img */
.role-1 .img1,
.role-1 .img2,
.role-1 .img3,
.role-1 .img4 {
  width: 340px;
  height: 200px;
  background-color: white;
}
div.img1 img {
  position: relative;
  left: 100px;
  top: 0px;
}
div.img2 img {
  position: relative;
  left: 50px;
  top: 0px;
}
div.img3 img {
  position: relative;
  left: 50px;
  top: 0px;
}
div.img4 img {
  margin-top: 0px;

  margin-right: 48px;
}

.img5 img {
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
}
.img6 img {
  margin-left: -80;

  margin-top: 70px;
}
.img7 img {
  margin-top: 20px;
}
.img8 img {
  margin-top: 20px;
  margin-left: 34px;
}
.img9 img {
  position: relative;
  left: 50px;
  top: 2px;
  margin-left: 60px;
}
.img10 img {
  position: relative;
  top: 2px;
  left: 100px;
}
.img11 img {
  position: relative;
  left: 100px;
}
.img12 img {
  position: relative;
  left: 100px;
}
.img13 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img14 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img15 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img16 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img17 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img18 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img19 img {
  position: relative;
  top: 10px;
  left: 100px;
}
.img20 img {
  position: relative;
  top: 10px;
  left: 100px;
}

/* for product info */
.role-2 .p1 {
  width: 100%;
  background-color: white;
}
.p1 p {
  margin-top: 20px;
  margin-left: 50px;
}
.min {
  width: 70px;
  border: 2px solid rgb(172, 172, 172);
  height: 23px;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}
.max {
  width: 70px;
  border: 2px solid rgb(172, 172, 172);
  height: 23px;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}
.go {
  width: 30px;
  border: 2px solid rgb(172, 172, 172);
  height: 23px;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 7px;
}
/* for role-1 line */
.role-3 .l1 {
  width: 100%;
  background-color: white;
}
.l1 p {
  margin-left: 20px;
  margin-bottom: px;
}
.clear-float {
  clear: both;
}
.search-edit-search {
  display: grid;
  grid-template-columns: 280px 280px 280px;
}
.search-edit {
  position: relative;
  top: 650px;
  left: 340px;
}
.over-all {
  display: block;
}
.search-edit-search div {
  border: 1px solid rgb(212, 212, 212);
  height: 60px;
}
.search-icon-info {
  display: inline-block;
  margin-left: 30px;
}
.search-icon {
  margin-left: 10px;
  display: inline-block;
  margin-top: 20px;
}
.search-edit .only-for-line-color {
  color: #a8a8a8;
}
.first-page {
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 30px;

  border: 1px solid rgb(175, 175, 175);
}
.first-page p {
  margin-top: 5px;
}
.second-page p {
  margin-top: 5px;
}
.arrow {
  display: inline-block;
}
.page-select {
  position: absolute;
  left: 300px;
  margin-top: 20px;
}
.second-page {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 30px;

  border: 1px solid rgb(175, 175, 175);
}
